<h1>
  <%= link_to t(:workshop, scope: :new), [:new, :admin, :workshop], class: 'pull-right btn btn-primary btn-add' %>
  <%= t :workshops %>
</h1>

<section id="workshops">
  <%= render @workshops %>
</section>