<%= link_to [:admin, event], class: 'list-group-item' do %>
  <span class="label label-primary"><%= event.id %></span>
  <%= event.name %>
  <span class="badge">
    <strong>Slug:</strong>
    <%= event.slug %>
  </span>
<% end %>
