<%#= image_tag 'cover2b.jpg', class: 'img-responsive' %>
<%= image_tag 'cover.svg', class: 'img-responsive' %>

<article class="semi-transparent  iconed">
  <h1><%= t :brand_explanation %></h1>
  <%= link_to icon('angle-down'), '#about', class: 'btn btn-success' %>
</article>