<header><h1><%= t :cuisine %></h1></header>

<div class="row">
  <div class="col-md-7">
<div class="transparent">
  <p>Nuestros talleres de <strong>Cocina Vegana</strong> son encuentros independientes, de una duración de aproximadamente 2 horas, donde enseñamos cómo preparar deliciosas comidas sin utilizar ningún ingrediente de origen animal.</p>
  
  <p>Son una gran oportunidad para acercarse al veganismo; conocer un poco más sobre la grave problemática del uso animal; y degustar y aprender a preparar comidas accesibles, fáciles y deliciosas.</p>

  <p>Los talleres son para cualquier persona (con o sin experiencia en la cocina). No es necesario llevar nada a los talleres, ya que nosotros nos encargamos de todos los materiales.</p>

  <p>El costo es a voluntad. Con el dinero recaudado, además de cubrir los gastos del taller, financiamos folletos y actividades para difundir nuestra lucha contra la discriminación y explotación de todos los animales. Todo nuestro trabajo es de forma voluntaria.</p>

  </div>
</div>

  <div class="col-md-5">
    <article class="radio">
      <%= icon('cutlery thumbnail') %>
    </article>
  </div>
</div>

<article class="iconed">
  <%= link_to icon('angle-down'), '#radio', class: 'btn btn-danger' %>
</article>