<!DOCTYPE html>
<html lang="es">
  <head><%= render 'head' %></head>
  <body>
    <section id="nav" >
      <%= render 'navbar' %>
    </section>

    <section class="container">
      <div class="row">
        <aside class="col-md-2">
          <%= render 'aside' %>
        </aside>
        <section class="content col-md-10">
          <%= yield %>
        </section>
    </section>

  </body>
</html>