<h1>
  <%= link_to t(:contact, scope: :new), [:new, :admin, :contact], class: 'pull-right btn btn-primary btn-add' %>
  <%= t :contacts %>
</h1>

<section id="contacts">
  <%= render @contacts %>
</section>
