<ul class="well nav nav-pills nav-stacked">
  <li><%= link_to t(:home) , root_path, class: 'home-link' %></li>
  <li><%= link_to t(:workshops), [:admin, :workshops], class: 'workshop-link' %></li>
  <li><%= link_to t(:contacts), [:admin, :contacts], class: 'contact-link' %></li>
</ul>